/*****----- Configuration -----*****/
configuration {
	modi:                       "drun,window,filebrowser";
    show-icons:                 true;
    display-drun:               " Apps";
    display-window:             " Windows";
    display-filebrowser:        " Files";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}

@theme "theme/theme.rasi"
