/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 *
 * Available Colors Schemes
 *
 *  gruvbox    monokai
 *
 **/

/* Import color-scheme from `colors` directory */

@import "../colors/monokai.rasi"
